<header>
  {% if page.primary_nav %}
    {{ page.primary_nav }}
  {% endif %}

  {% if page.secondary_nav %}
    {{ page.secondary_nav }}
  {% endif %}
</header>
{% if page.content %}
  <main id="main-content">{{page.content}}</main>
{% endif %}

{% if page.footer %}
  {{page.footer}}
{% endif %}
